.section {
  display: grid;
  grid-column: container-start/container-end;
  margin-top: var(--mg-lg);

  .heading-container {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    margin-bottom: var(--mg-md);
  }

  &--browse {
    grid-column: full-start/full-end;
    grid-template-columns: subgrid;
    margin-top: 0;

    & > * {
      grid-column: full-start/full-end;
    }
  }

  &:last-of-type {
    margin-bottom: var(--mg-lg);
  }
}
