.new-games {
  @include grid(3, var(--gap-md));
}

.game {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  // overflow: hidden;
  align-self: start;
  position: relative;

  &__header {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-top);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 1000;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
  }

  &__body {
    @include grid(1, var(--gap-xs));
    padding: 1rem;
  }

  &__title {
    &-sub {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.5rem;
      font-size: var(--fs-50);
      // justify-content: space-between;
    }
  }

  &__dev,
  &__date {
    background-color: var(--clr-main);
    color: #fff;
    padding: 0.25rem 0.5rem;
  }

  // &__desc {
  //   opacity: 0;
  //   left: 0;
  //   bottom: 0;
  //   transform: translateY(100%);
  //   z-index: 3000;
  //   padding: 0 1rem 1rem 1rem;
  //   position: absolute;
  //   background-color: #fff;
  //   transition: opacity 0.2s;
  //   border-radius: var(--border-radius-bottom);
  //   box-shadow: var(--box-shadow-notop);
  // }

  &:hover {
    border-radius: 0;
    .game__img {
      transform: scale(1.05);
    }

    .game__header::before {
      opacity: 1;
    }

    .game__desc {
      opacity: 1;
    }
  }
}

.news {
  display: grid;
  gap: var(--gap-xs);
}

.article {
  display: flex;
  column-gap: var(--gap-xs);
  row-gap: 0.5rem;

  padding: 0.5rem;

  &__figure {
    flex: 0 0 15rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    transition: transform 0.3s;
  }

  &__content {
    flex: 1;
    display: grid;
  }

  &__span {
    color: var(--clr-main);
    font-weight: var(--fw-600);
  }

  &__heading {
    font-size: var(--fs-100);
    margin-top: var(--mg-xs);
    margin-bottom: var(--mg-sm);
  }

  &:hover &__img {
    transform: scale(1.1);
  }
}

.browse {
  display: grid;
  justify-items: center;
  padding: 1rem 0 2rem 0;
  background-color: #000;
  gap: var(--gap-sm);

  &__search {
    position: relative;
    flex: 0 1 25rem;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    gap: var(--gap-sm);
    background-color: #25252b;
    border-radius: 2rem;
  }

  &__icon {
    color: #fff;
    font-size: var(--fs-150);
    border-radius: 50%;
    padding: 0.3rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--clr-grey-light);
      cursor: pointer;
    }
  }

  &__input {
    flex: 1;
    padding: 0.15rem;
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
  }

  &__filters {
    gap: var(--gap-sm);
    color: #fff;
    display: none;

    &.show {
      display: flex;
    }
  }

  &__filter {
    position: relative;
    padding: 0.5rem 1rem;
    border: 2px solid var(--clr, #fff);
    border-radius: var(--border-radius);
    transition: all 0.3s;

    p {
      display: flex;
      align-items: center;
      gap: var(--gap-xxs);
    }

    &.active .browse__dropdown {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    width: max-content;

    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    z-index: 2000;

    &-list {
      & > *:not(:last-child) {
        border-bottom: 1px solid #fff;
      }
    }

    &-item {
      padding: 1rem;
      transition: all 0.2s;

      strong {
        color: var(--clr-main);
      }

      &:hover {
        background-color: var(--clr-main);
      }
    }
  }

  &__suggestions {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;

    width: 100%;
    border-radius: 1rem;
    background-color: #25252b;
    color: #fff;
    overflow: hidden;
    z-index: 2000;

    &.show {
      display: block;
    }
  }

  &__list {
    max-height: 15rem;
    overflow-y: scroll;

    scrollbar-width: auto; /* Options: auto | thin */
    scrollbar-color: #fff #25252b; /* thumb color, track color */

    &__list {
      scrollbar-width: 0;
    }
  }

  &__tag {
    padding: 1rem;
    transition: all 0.2s;

    strong {
      color: var(--clr-main);
    }

    &:hover {
      background-color: var(--clr-grey-light);
    }
  }
}

.tags {
  grid-column: container-start/container-end;
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  min-height: 7rem;

  &__container {
    display: flex;
    gap: var(--gap-xs);
  }

  &__results {
    font-weight: var(--fw-500);
    font-size: var(--fs-200);
    color: var(--clr-grey);
  }

  &__tag {
    display: flex;
    gap: var(--gap-xxs);
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--clr-main);
    color: #fff;

    i:hover {
      cursor: pointer;
    }
  }
}

.games {
  display: grid;
  grid-column: container-start/container-end;
  place-content: center;
  &__container {
    @include grid(4, var(--gap-sm));
    grid-auto-flow: dense;
  }
}
