@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-100);
  font-weight: var(--fw-200);
  color: var(--clr-text);
  line-height: 1.5;
}

.header {
  color: var(--clr-white);
}

.heading {
  &--primary {
  }

  &--secondary {
    color: var(--clr-main);
    color: #be284f;
  }

  &--tertiary {
  }

  &--sub {
    font-weight: 400;
    font-size: var(--fs-100);
    transition: color 0.2s;

    &:hover {
      color: var(--clr-main);
    }

    &::before {
      content: " • ";
    }
  }
}
