.footer {
  display: grid;
  gap: var(--gap-xs);
  place-content: center;
  background-color: #000;
  padding: 1rem 0;
  grid-column: full-start/full-end;
  color: #fff;

  &__heading {
    font-size: var(--fs-300);
  }

  &__gmail {
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: var(--gap-xs);
  }

  i {
    font-size: var(--fs-300);
    color: #fff;
    transition: color 0.3s;

    &:hover {
      color: var(--clr-main);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    justify-content: center;

    img {
      height: 2.5rem;
    }
  }

  @media (width < 30em) {
    &__heading {
      font-size: var(--fs-200);
    }

    i {
      font-size: var(--fs-200);
    }
  }
}
